$text-first: #000;
$text-second: #939393;
$main-color : #F2EBDC;
$gap-small : 10px;
$gap-medium : 20px;
$gap-large : 30px;
$spacing-small : 10px;
$spacing-medium : 20px;
$spacing-large : 30px;
$border-radius-small : 12px;
$border-radius-large: 24px;